<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>


<!-- Navne boks (skal gemmes i en variabel der kan kaldes til slut) -->
<form>
  <label for="name">Indtast Navn</label><br>
  <input type="text" id="name" name="name"><br>
  <input type="submit" value="Submit">
</form>

<div class="sporgsmaal">
<p>
  The princess...
</p>
<!-- Svar muligheder -->
</div>

<div class="radio">
<form>
  <input type="radio" id="and the horse" name="spørgsmål 1" value="0">
  <label for="and the horse">and the horse</label><br>
  <input type="radio" id="female" name="spørgsmål 1" value="0">
  <label for="female">and the shoe</label><br>
  <input type="radio" id="other" name="spørgsmål 1" value="0">
  <label for="other">who cried wolf</label><br>
  <input type="radio" id="other" name="spørgsmål 1" value="0">
  <label for="other">and the frog</label>
</form>
</div>


