<hello name="{{ name }}"></hello>

<!-- Navne boks (skal gemmes i en variabel der kan kaldes til slut) -->
<form>
  <label for="name">Indtast Navn</label><br>
  <!-- ved at bruge "[(ngModel)]" fortæller man at ens variabel, I dette tilfælde "input", lytter til hvad der bliver tastet i inputfeltet. På den måde kan vi fortælle vores logik hvad navnet er på brugeren. Overordnet altså hvordan vi gemmer hvad der er tastet i brugerfladen til vores logik -->
  <input type="text" id="name" [(ngModel)]="input" name="name"><br>
  <button type="button" (click)="SaveName()">Sæt navn</button>
</form>

<div class="sporgsmaal">
<p>
  The princess...
</p>
<!-- Svar muligheder -->
</div>

<div class="radio">
<form>
  <input type="radio" id="and the horse" name="spørgsmål 1" value="0">
  <label for="and the horse">and the horse</label><br>
  <input type="radio" id="female" name="spørgsmål 1" value="0">
  <label for="female">and the shoe</label><br>
  <input type="radio" id="other" name="spørgsmål 1" value="0">
  <label for="other">who cried wolf</label><br>
  <input type="radio" id="other" name="spørgsmål 1" value="0">
  <label for="other">and the frog</label>
  <p><button type="button" (click)="$2">Next</button></p>
</form>
</div>



